<div class="form-container">

  <form class="form">
    <h2>Envio de notificacion a grupos</h2>

    <div class="form-group">
      <label for="dropdown">Selecciona a los usuario notificaras:</label>
      <p-multiSelect #dropUser [options]="usersData" formControlName="selected Users" optionLabel="name"
        placeholder="Select Users"></p-multiSelect>
    </div>

    <div class="form-group">
      <label for="dropdown">Selecciona el banco:</label>
      <p-dropdown #dropTarget [options]="usersTarget" optionLabel="digits" placeholder="Select a target"></p-dropdown>
    </div>

    <div class="form-container">
      <button type="button" class="btnSendNotificatio" pButton
        (click)="sendMessageTarget(dropUser.value, dropTarget.value)">
        Enviar
      </button>
    </div>
  </form>
</div>
