<h3> {{userNameCurrent}}</h3>

<!-- <p> {{urlFlags | json}} </p> -->

<!-- <img [src]="urlFlags" alt="Dynamic Image"> -->


<div class="form-container">
  <form class="form">
    <h2>Informacion del banco</h2>

    <div class="form-group">
      <label for="name">Pais del banco:</label>
      <input type="text" id="name" name="name" [value]="dataFormat.Country.Name" required />
    </div>

    <div class="form-group">
      <label for="text">Dominio:</label>
      <input type="text" [value]="dataFormat.Scheme" required />
    </div>

    <div class="form-group">
      <label for="text">Tipo de tarjeta:</label>
      <input type="text" [value]="dataFormat.Type" required />
    </div>

    <div class="form-group">
      <label for="password">Banco:</label>
      <input type="text" [value]="dataFormat.Issuer" required />
    </div>

    <div class="form-group">
      <label for="password">Continente:</label>
      <input type="text" [value]="dataFormat.Country.Cont" required />
    </div>
  </form>

  <div class="image-container">
    <img [src]="urlFlags" alt="Imagen Ejemplo" />
  </div>
</div>



<!-- --------------------------------------------Send Notification -->
<div class="form-container">
  <form class="form">
    <h2>Envio de notificacion</h2>

    <div class="form-group">
      <label for="dropdown">Selecciona a que usuario notificaras:</label>
      <p-dropdown #dropUser [options]="usersData" optionLabel="name" [showClear]="false" placeholder="Select a user"></p-dropdown>
    </div>

    <div class="form-group">
      <label for="dropdown">Selecciona el banco:</label>
      <p-dropdown #dropTarget [options]="usersTarget" optionLabel="target" [showClear]="true" placeholder="Select a target"></p-dropdown>
    </div>

    <button type="button" class="submit-btn" (click)="sendMessageTarget(dropUser.value, dropTarget.value)">Enviar</button>
  </form>

</div>
