<h3> {{userNameCurrent}}</h3>

<!-- <p> {{urlFlags | json}} </p> -->

<!-- <img [src]="urlFlags" alt="Dynamic Image"> -->


<div class="form-container">
  <form class="form">
    <h2>Informacion del banco</h2>

    <div class="form-group">
      <label for="name">Pais del banco:</label>
      <input type="text" id="name" name="name" [value]="dataFormat.Country.Name" required />
    </div>

    <div class="form-group">
      <label for="text">Dominio:</label>
      <input type="text" [value]="dataFormat.Scheme" required />
    </div>

    <div class="form-group">
      <label for="text">Tipo de tarjeta:</label>
      <input type="text" [value]="dataFormat.Type" required />
    </div>

    <div class="form-group">
      <label for="password">Banco:</label>
      <input type="text" [value]="dataFormat.Issuer" required />
    </div>

    <div class="form-group">
      <label for="password">Continente:</label>
      <input type="text" [value]="dataFormat.Country.Cont" required />
    </div>
  </form>

  <div class="image-container">
    <img [src]="urlFlags" alt="Imagen Ejemplo" />
  </div>
</div>
