body {
  background-color: #1F2A38; /* Color de fondo similar al de la imagen */
  font-family: Arial, sans-serif;
  margin: 0;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  background-color: #2B3A4A; /* Fondo del contenedor de login */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%; /* Asegura que se ajuste al ancho del dialog */
  max-width: 400px; /* Limita el ancho máximo */
}

.logo-container h1 {
  color: #F8C103; /* Color amarillo similar al botón de la imagen */
  text-align: center;
  margin-bottom: 20px;
}

.login-container h2 {
  color: #FFFFFF; /* Texto blanco para el título */
  text-align: center;
  margin-bottom: 10px;
}

.login-container p {
  color: #FFFFFF; /* Texto blanco */
  text-align: center;
  margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #4A5B6A; /* Borde gris oscuro */
  border-radius: 4px;
  background-color: #34495E; /* Un tono similar al fondo pero más claro */
  color: #FFFFFF; /* Texto blanco */
}

.login-container p-button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  color: #1F2A38;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* .login-container p-button:hover { */
  /* background-color: #e6b800; Un tono más oscuro para el hover */
/* } */

.login-container a {
  color: #FFFFFF; /* Enlaces en color blanco */
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  background-color: #1F2A38; /* Color de fondo similar al de la imagen */
}

:host ::ng-deep .p-dialog .p-dialog-header {
  display: none;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  background-color: transparent; /* Hace transparente el fondo del diálogo */
  box-shadow: none; /* Elimina cualquier sombra */
}

:host ::ng-deep .p-dialog .p-dialog-header,
:host ::ng-deep .p-dialog .p-dialog-content,
:host ::ng-deep .p-dialog .p-dialog-footer {
  background: transparent !important; /* Asegura que todas las secciones sean transparentes */
  border: none; /* Elimina cualquier borde */
  box-shadow: none; /* Elimina sombras */
}
