  <p-dialog  [(visible)]="this.serviceJson.viewModalLogin" [style]="{width: '50vw'}" >

      <div class="login-page">
        <div class="login-container">
          <div class="logo-container">
            <h1>Consultorio Dental</h1>
          </div>
          <h2>Portal Corporativo</h2>
          <p>Inicie sesión en su cuenta</p>
          <form>
            <input #userName type="text" placeholder="Nº Empleado / Correo Electrónico" required>
            <input #userPassword type="password" placeholder="Contraseña" required>
            <p-button label="Iniciar Sesión" (click)="getUser(userName.value, userPassword.value)"></p-button>
            <a routerLink="/newAccount" class="forgot-password">¿Olvidó su contraseña?</a>
          </form>
        </div>
      </div>

  </p-dialog>
