<p>new-acount works!</p>
<body>

  <div class="register-container">
      <h2>Create Account</h2>
      <form>
          <input type="text" id="name" placeholder="Full Name" required>
          <input type="email" id="email" placeholder="Email" required>
          <input type="password" id="password" placeholder="Password" required>
          <input type="password" id="confirm-password" placeholder="Confirm Password" required>
          <button type="submit">Register</button>
      </form>
  </div>

  </body>
